#conteudo {
    border: black solid 3px;
    margin: 5rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.historico {
  height: 4rem;
  border-bottom: black solid 3px;
  font-size: 2rem;
  font-weight: 700;
}
#mensagens {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#mensagens p {
    min-width: 28rem;
    min-height: 4rem;
    border: black solid 3px;
    margin: 1rem 3rem 0 3rem;

}

#botoes {
    display: flex;
    margin-right: 6rem ;
    height: 1.3rem;
    width:  4rem;
    
}

#botoes button {
    background-color: #F65D5D;
    border: 0;
}


#botoes button:first-child {
    background-color: #F6a75d;
        border: 0;
}

#escrever {
    border: black solid 3px;
    margin: 1rem 3rem 0 3rem;
}

#escrever input {
    height: 6rem;
    width: 20rem;
    margin: 0.5rem;
}

